
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewData["Title"] = "درباره ما";
}
<link href="/css/AbousUs.css" rel="stylesheet" />
    <div class="about-page">
        <div class="container">
            <!-- breadcrumb -->
            <div class="breadcrumb">
                <ul itemtype="http://schema.org/BreadcrumbList">
                    <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> تاپ لرن </span></a></li>
                    <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item" class="current"><span itemprop="name">  درباره تاپ لرن </span></a></li>
                </ul>
            </div>
            <!-- /breadcrumb -->

            <div class="about-page-content">

                <div class="inside-content">
                    <a href="javascript:void(0)" class="history-item active"> <span> تاپ لرن </span> </a>
                    <a href="javascript:void(0)" class="working-item"> <span> راه های ارتباطی </span> </a>
                    <div class="inner box-shadow">
                        <!-- history -->
                        <div id="history-item" class="active">
                            <p>تاریخچه:</p><p>وب سایت تاپ لرن در پاییز 1396 پیاده سازی شده است . تاپ لرن یک پلتفرم کاملا متفاوت در زمینه یادگیری و آموزش بوده تا بتواند برای کسب و کار , توسعه و نگهداری نرم افزار , فن آوری های جدید و مهارت های خلاقانه ای که شما به دنبال ان هستید به صورت حرفه ای&nbsp; آموزش ببینید.</p><p>در تاپ لرن همیشه به روز باشید:</p><p>اگر شما سعی دارید به صورت فردی برای بالا بردن مهارت های خود در جهت کسب و کار قصد دارید از آموزش آنلاین استفاده کنید : تاپ لرن کی از بهترین گزینه های شما خواهد بود . کافیست با مشاهده بیش از 10 ها ساعت ویدئویی که در سایت به صورت رایگان می باشد مهارت های خود را افزایش دهید . همچنین با هزینه هایی باور نکردنی که برای دوره های خاصی در سایت گذاشته شده است می توانید به صورت حرفه ای مهارت های خود را به سطح حرفه ای برسانید.</p><p>امروزه بسیاری از شرکت های بزرگ دنیا با توجه به نیاز های سازمانی &nbsp;از افراد مورد اعتماد خود در سازمان برای رفع نیازهای خود استفاده می کنند .&nbsp; با توجه به هزینه آموزش به صورت حضوری &nbsp;و البته&nbsp; چالش هایی نظیر مکان , زمان&nbsp; و همچنین استاد مناسب رو به رو خواهند بود . شرکت ها ی خصوصی و دولتی می توانند با دسترسی به ویدئو های آموزشی تاپ لرن مهارت های کارمندان خود را افزایش دهند تا در واقع با بهره گیری و اپدیت نیرو های خود &nbsp;شاهد عملکرد چشم گیری &nbsp;انان در سازمان &nbsp;باشند .</p><p>&nbsp;</p><p>ورود به بازار کار:</p><p>بسیاری از فارغ التحصیلان برای ورود به بازار پر رقابت کار در ایران نیاز به یادگیری مهارت های لازم دارند . یکی از بزرگترین چالش ها هزینه های آموزشی هست . تاپ لرن با قرار دادن بیش از 100 ها آموزش رایگان&nbsp; با اساتید حرفه ای&nbsp; ,&nbsp; شیوه آموزشی نوین و قرار دادن دوره های مناسب برای ورود به بازار کسب و کار و البته ارائه گواهی معتبر جهت ارائه , را فراهم نموده است.</p><p>&nbsp;</p><p>چرا تاپ لرن:</p><p>ما با برگزاری بیش از 100 ها کلاس حضوری و آموزش به هزاران دانشجو به صورت عمومی و برگزاری دوره های خصوصی با نهاد هایی نظیر : سایپا یدک , منطقه آزاد قشم , گروه پلیمر بوشهر , ایران خودرو , &nbsp;&nbsp;گسترش انفورماتیک ایرانیان , &nbsp;&nbsp;کشت و صنعت رژین تاک&nbsp; تجربه فراوانی در حوزه آموزش داریم .</p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; با گذراندن دوره های ویژه مدرک متعبر دریافت نمایید</p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; رزومه تایید شده اساتید را مطالعه نمایید</p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; از بیش از 100 ها ویدئو رایگان استفاده نمایید</p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; پرداخت آسان در سایت</p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; پشتیبانی از مشکلات فنی</p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; پشتیبانی علمی توسط اساتید</p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; مشاهده سر فصل های آموزشی</p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; کیفیت فوق العاده صدا و تصویر</p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; مدرسین حرفه ای</p>
                        </div>
                        <!-- /history -->
                        <!-- why toplearn -->
                        <div id="working-item">
                            <h2> راه های ارتباطی با تاپ لرن </h2>
                            <ul>
                                <li>  تلفن تماس : 88455865-021 _ 91303737-021 </li>
                                <li>  موبایل : - </li>
                                <li>  ایمیل : info@TopLearn.com </li>
                            </ul>
                        </div>
                        <!-- /why toplearn -->
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
