
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewData["Title"] = "تماس با ما";
}
<link href="/css/Contact.css" rel="stylesheet" />

<div class="contact-page">
    <div class="container">
        <!-- breadcrumb -->
        <div class="breadcrumb">
            <ul itemtype="http://schema.org/BreadcrumbList">
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> تاپ لرن </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item" class="current"><span itemprop="name">  تماس با ما </span></a></li>
            </ul>
        </div>
        <!-- /breadcrumb -->

        <div class="contact-layer">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="contact-info-layer">
                        <div class="row">
                            <div class="col-xs-12 contact-info-col">
                                <section class="box-shadow">
                                    <h2><i class="zmdi zmdi-phone-in-talk"></i> شماره تماس و ایمیل</h2>
                                    <ul>
                                        <li>
                                            <span>0313-5301853 _ 0313-5301850 </span>
                                        </li>
                                        <li> info@TopLearn.com </li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col-xs-12 contact-info-col">
                                <section class="box-shadow">
                                    <h2><i class="zmdi zmdi-smartphone-android"></i> شماره موبایل  </h2>
                                    <ul>
                                        <li><span>09220705761</span> </li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col-xs-12 contact-info-col">
                                <section class="box-shadow">
                                    <h2><i class="zmdi zmdi-home"></i>  آدرس : </h2>
                                    <ul>
                                        <li>
                                            <span>
                                                اصفهان - خیابان ارغوانیه - دانشگاه آزاد اسلامی واحد خوراسگان
                                            </span>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="col-md-7 col-sm-12 col-xs-12">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3359.673387477348!2d51.785387996351666!3d32.64152023514649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fbc4f26be3e1091%3A0xe1ab5c0013f988e3!2z2K_Yp9mG2LTar9in2Ycg2KLYstin2K8g2KfYs9mE2KfZhduMINmI2KfYrdivINin2LXZgdmH2KfZhiAo2K7ZiNix2KfYs9qv2KfZhik!5e0!3m2!1sfa!2s!4v1626534364257!5m2!1sfa!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


                </section>
            </div>

        </div>

    </div>
</div>