
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewData["Title"] = "همکاری با تاپ لرن";
}
<link href="/css/work-with-toplearn.css" rel="stylesheet" />
<div class="page-style">
    <div class="container">

        <!-- breadcrumb -->
        <div class="breadcrumb">
            <ul itemtype="http://schema.org/BreadcrumbList">
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> تاپ لرن </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item" class="current"><span itemprop="name"> همکاری با تاپ لرن </span></a></li>
            </ul>
        </div>
        <!-- /breadcrumb -->

        <div class="main-page-content">
            <section class="page-content box-shadow">
                <header>
                    <h1> <a href="#"> همکاری با تاپ لرن </a> </h1>
                    <ul>
                        <li><span> <i class="zmdi zmdi-calendar"></i>1400/04/04</span></li>
                    </ul>
                </header>
                <div class="inner">
                    <p>مراحل همکاری در تاپ لرن:</p><p>تاپ لرن یک پلتفرم آموزشی در بستر تجارت الکترونیک می باشد که از اساتید با تجربه در این حوزه دعوت به همکاری می نمایند . اگر تمایل دارید در تاپ لرن فعالیت تولید محتوای آموزشی انجام دهید . می توانید از طریق&nbsp;تیکت (در پنل کاربری ) &nbsp;با کارشناسان ما تماس حاصل نمایید .</p><p>جهت شروع همکاری موارد زیر را ارسال کنید &nbsp;</p><p>-نام و نام خانوادگی</p><p>-تصویر کارت ملی یا شناسنامه <span style="color:hsl(0,75%,60%);"><strong>(سن حداقل 20 سال)</strong></span></p><p>-عنوان دوره آموزشی &nbsp;</p><p>-ویدئوی معرفی دوره <span style="color:hsl(0,75%,60%);"><strong>(بالای 5 دقیقه و در حین ضبط صفحه اول سایت باز باشد)</strong></span></p><p>-کیفیت صدا و تصویر باید مناسب باشد &nbsp;</p><p>-سرفصل آموزشی &nbsp;</p><p>-سطح دوره &nbsp;</p><p>-برای شروع تدریس در تاپلرن باید یک دوره رایگان<span style="color:hsl(0,75%,60%);"><strong> ( بالای 3 ساعت )</strong></span> ارائه دهید.</p><p>ابتدای هر جلسه باید از صفحه اصلی سایت یا صفحه دوره به همراه &nbsp;موشن و روی هر جلسه لوگو واتر مارک باشد &nbsp;<a href="https://toplearn.com/Watermarks.rar"><span style="color:hsl(0,75%,60%);"><strong>(لینک دانلود)</strong></span></a></p><p>موارد بالا را به صورت یک فایل rar در <a href="https://mega.nz/"><span style="color:hsl(0,75%,60%);"><strong>این لینک </strong></span></a>آپلود کرده و به همراه <a href="https://toplearn.com/Acount/AddTicket">تیکت</a> ، لینک را ارسال کنید .</p><p>&nbsp;</p><p>دقت داشته باشید دوره شما نباید از قبل در سایت موجود باشد .</p><p>پس از ارتباط و تایید کارشاناسان، تاپ لرن استاندارد های تولید محتوا را در اختیار مدرسین قرار خواهد داد .</p><p>سر فصل های آموزشی مورد بررسی قرار خواهند گرفت</p><p>مدرسین قیمت پیشنهادی دوره خود را ارائه داده و پس از بررسی کارشناسان، قیمت گذاری نهایی می گردد.</p><p>رزومه شما به عنوان مدرس در وب سایت درج خواهد شد .</p><p>دقت داشته باشید دوره ای که در سایت تاپ لرن درج شود متعلق به تاپ لرن خواهد بود و تحت هیچ شرایطی از سایت حذف نخواهد شد و اگر مدرس دوره را درسایت و یا جای دیگری منتشر کند دوره در تاپ لرن رایگان خواهد شد .</p><p>&nbsp;</p>
                </div>
            </section>
        </div>

    </div>
</div>