@using Microsoft.Extensions.Configuration;
@inject IConfiguration _configuration
@model TopLearn.DataLayer.Entities.User.User

<div style="direction: rtl; padding: 20px">
    <h2>@Model.UserName عزیز !</h2>
    <p>با تشکر از ثبت نام شما در تاپ لرن ، جهت ادامه کار میبایست حساب کاربری خود را فعال کنید</p>
    <p>
        <a href="@_configuration["ApplicationUrlConfiguration:BaseUrl"]/Account/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>

        @*  <a href="http://testintoplearn.in/Account/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>*@
    </p>
</div>
