a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

@media print {
    *,
     :after,
     :before {
        color: #000!important;
        text-shadow: none!important;
        background: 0 0!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    a[href^="javascript:"]:after {
        content: "";
    }
    h2,
    p {
        orphans: 3;
        widows: 3;
    }
    h2 {
        page-break-after: avoid;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
}

p {
    margin: 0 0 10px;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.clearfix:after,
.clearfix:before,
.container:after,
.container:before {
    display: table;
    content: " ";
}

.clearfix:after,
.container:after {
    clear: both;
}

a:link,
a:hover {
    text-decoration: none;
    outline: 0!important;
}

a:active {
    color: #54c3ed;
}

span,
a {
    display: inline-block;
    font-weight: normal;
}

ul {
    list-style: none!important;
    list-style-type: none!important;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

a {
    outline: medium none;
    text-decoration: none;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.breadcrumb ul:after {
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.breadcrumb {
    width: 100%;
    position: relative;
    background-color: transparent;
    padding: 20px 0;
    margin-bottom: 0;
}

.breadcrumb ul li {
    display: inline-table;
    margin-left: 25px;
    float: right;
    position: relative;
}

.breadcrumb ul li:last-child {
    margin-left: 0;
}

.breadcrumb ul li:before {
    position: absolute;
    left: -15px;
    top: 7px;
    font-size: 14px;
    content: '/';
    color: #c0c8d1;
}

.breadcrumb ul li:last-child:before {
    display: none;
}

.breadcrumb ul li a {
    font-size: 13px;
    line-height: 26px;
    padding: 2px 0;
    color: #637076;
}

.breadcrumb ul li a:hover {
    color: #2196f3;
}

.box-shadow {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 7px 0 #eaeff4;
    -moz-box-shadow: 0 0 7px 0 #eaeff4;
    -webkit-box-shadow: 0 0 7px 0 #eaeff4;
    position: relative;
    border: 1px solid #ecf0f4;
    background-color: #fff;
}


/*! CSS Used from: https://toplearn.com/Site/css/CustomStyle.css?v=PXJXHDjauN91ZbkLO65N2EtZy_73ZsNjYcbuDnUmZao */

@media (min-width: 1200px) {
    .container {
        width: 1270px!important;
    }
}


/*! CSS Used from: https://toplearn.com/Site/css/about.css */

.about-page-content>.inside-content>a:after,
.about-page-content>.inside-content>a:before {
    outline: medium none;
    text-decoration: none;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.about-page-content {
    padding: 20px 0 100px;
    position: relative;
}

.about-page-content>.inside-content {
    position: relative;
    padding-left: 20px;
}

.about-page-content>.inside-content:after {
    width: 200px;
    height: 200px;
    background: url('https://toplearn.com/Site/images/about-1.svg') no-repeat 0 0;
    background-size: 200px 200px;
    position: absolute;
    left: -140px;
    top: 30px;
    content: '';
    z-index: 1;
}

.about-page-content>.inside-content .inner {
    position: relative;
    z-index: 2;
    width: 850px;
    float: left;
    min-height: 450px;
}

.about-page-content>.inside-content .inner>div {
    padding: 30px 35px;
    display: none;
}

.about-page-content>.inside-content .inner>div.active {
    display: block;
}

.about-page-content>.inside-content .inner>div h2 {
    font-size: 20px;
    color: #5fb430;
    line-height: 30px;
    margin-bottom: 22px;
}

.about-page-content>.inside-content .inner>div p {
    font-size: 14px;
    line-height: 32px;
    text-align: justify;
    margin-bottom: 15px;
}

.about-page-content>.inside-content .inner>div ul {
    margin: 15px 0;
}

.about-page-content>.inside-content .inner>div ul li {
    font-size: 14px;
    line-height: 28px;
    margin: 7px 0;
    padding-right: 14px;
    position: relative;
}

.about-page-content>.inside-content .inner>div ul li:before {
    position: absolute;
    right: 0;
    top: 12px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    background-color: #00b3e9;
    content: '';
}

.about-page-content>.inside-content .inner>div p:last-child {
    margin-bottom: 0;
}

.about-page-content>.inside-content>a {
    width: 130px;
    height: 130px;
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #1e2f38;
}

.about-page-content>.inside-content>a:before {
    width: 130px;
    height: 130px;
    background: url('https://toplearn.com/Site/images/about.svg') no-repeat 0 0;
    background-size: 130px 130px;
    position: absolute;
    content: '';
    z-index: 1;
    text-align: center;
    transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    opacity: 1;
    right: 0;
    top: 0;
}

.about-page-content>.inside-content>a:after {
    width: 130px;
    height: 130px;
    background: url('https://toplearn.com/Site/images/about-2.svg') no-repeat 0 0;
    background-size: 130px 130px;
    position: absolute;
    content: '';
    z-index: 1;
    text-align: center;
    transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    opacity: 0;
    right: 0;
    top: 0;
}

.about-page-content>.inside-content>a.active:before,
.about-page-content>.inside-content>a:hover:before {
    opacity: 0;
}

.about-page-content>.inside-content>a.active:after,
.about-page-content>.inside-content>a:hover:after {
    opacity: 1;
}

.about-page-content>.inside-content>a:hover,
.about-page-content>.inside-content>a.active {
    color: #5fb430;
}

.about-page-content>.inside-content>a span {
    position: relative;
    z-index: 2;
}

.about-page-content>.inside-content>a.history-item {
    right: 110px;
    top: 0;
}

.about-page-content>.inside-content>a.history-item:before,
.about-page-content>.inside-content>a.history-item:after {
    width: 120px;
    height: 120px;
    background-size: 120px 120px;
}

.about-page-content>.inside-content>a.history-item span {
    top: 42px;
    right: 2px;
}

.about-page-content>.inside-content>a.working-item:before,
.about-page-content>.inside-content>a.working-item:after {
    width: 160px;
    height: 160px;
    background-size: 160px 160px;
}

.about-page-content>.inside-content>a.working-item {
    right: 0px;
    top: 100px;
}

.about-page-content>.inside-content>a.working-item span {
    top: 60px;
    right: 20px;
    word-spacing: -2px;
    text-align: center;
}

@media screen and (max-width: 1199px) {
    .about-page-content>.inside-content .inner {
        width: 650px;
    }
}

@media screen and (max-width: 991px) {
    .about-page-content>.inside-content .inner {
        width: 100%;
        clear: both;
        min-height: 50px;
    }
    .about-page-content>.inside-content {
        padding-left: 0;
    }
    .about-page-content>.inside-content:after {
        display: none;
    }
    .about-page-content>.inside-content>a {
        position: relative;
        float: right;
        margin-left: 25px;
        margin-bottom: 35px;
    }
    .about-page-content>.inside-content>a.history-item {
        right: 15px;
        top: 0;
    }
    .about-page-content>.inside-content>a.working-item {
        right: -10px;
        top: 0;
    }
}

@media screen and (max-width: 700px) {
    .about-page-content>.inside-content>a {
        display: none;
    }
    .about-page-content>.inside-content .inner {
        padding-bottom: 20px;
    }
    .about-page-content>.inside-content .inner>div {
        display: block;
        padding-bottom: 15px;
    }
    .about-page-content>.inside-content .inner>div ul {
        margin-bottom: 0;
    }
    .about-page-content>.inside-content:after {
        display: block;
        top: -100px;
        left: -50px;
    }
}

@media screen and (max-width: 480px) {
    .about-page-content>.inside-content .inner>div {
        padding: 25px;
    }
}

@media screen and (max-width: 400px) {
    .about-page-content>.inside-content .inner>div {
        padding: 20px;
    }
}